.g-body-title Form #[a(href=`#form/${form.id}`)= form.name()]
if (false && level >= AccessType.ADMIN)
  .g-form-actions
    button.g-access-form.g-edit-access.btn.btn-sm.btn-warning(title="Access control")
      i.icon-lock
    button.g-delete-form.btn.btn-sm.btn-danger(title="Delete form")
      i.icon-trash

form#g-form(role="form")
  if serialize
    if destFolder === null
      .alert.alert-warning
        | This form does not have any predefined destination folder for data uploads.
        | Please select a folder to save the data before filling out the form.

      #g-data-group.form-group
        label.control-label Destination Folder
        .input-group.input-group-sm
          input#g-folder-data-id.form-control.input-sm(
            type="text",
            placeholder="Select a folder",
          )
          .input-group-btn
            button.g-open-browser.btn.btn-default(type="button")
              i.icon-folder-open
    else
      .alert.alert-info
        | Data uploaded through this form is saved in the folder: #[span.g-bold-part= destFolderPath].
        | Note that form can be configured to perform additional path transformations and
        | and data can end up in a subfolder of the one shown here.

  .g-form-container

  .form-footer
    a.g-cancel-form.btn.btn-small.btn-default(data-dismiss="modal") Cancel
    button.g-save-form.btn.btn-small.btn-primary(type="submit")
      i.icon-edit
      | Save

  .g-validation-failed-message
