.g-deposition-list-header
  margin-bottom 10px

  .g-deposition-pagination
    display inline-block
    >ul
      margin 3px 13px 0 0

    .pagination>li>a
      float none
      line-height 1.5
      padding 7px 12px

  .g-deposition-search-form
    display inline
    margin-right 15px

    .form-group
      display inline-block

  .g-filter-depositions
    // display table-row
    display none
    color #333

    .g-filter-options-button
      color #333
      display table-cell
      border-radius 3px 0 0 3px
      margin-right 0
      border 1px solid #ccc
      background-color #eee

      &:hover
        background-image linear-gradient(to bottom, #e2e2e2 0, #eee 80%)

    .g-filter-field
      display table-cell
      border-radius 0 3px 3px 0
      margin-left 0
      border-left none

  .g-deposition-actions
    display inline-block
    float right
