.g-deposition-list-header
  margin-bottom 10px

  .g-deposition-pagination
    display inline-block
    >ul
      margin 0 13px 0 0

    .pagination>li>a
      float none
      line-height 1.5
      padding 7px 12px

  .g-deposition-actions
    display inline-block
    float right
