.modal-dialog
  .modal-content
    form#g-add-creator-form.modal-form(role="form")
      .modal-header
        button.close(type="button" data-dismiss="modal")
          span &times;
        h4.modal-title Add Creator
      .modal-body
        .form-check.form-check-inline
            input(type="radio" name="creatorType" value="person" checked)
            | Person
            input(type="radio" name="creatorType" value="organization")
            | Organization
        .form-group(hidden=(creatorType != "person")).person-fields
          label(for="firstName") First Name
          input.form-control(type="text" id="firstName" name="firstName" required)
        .form-group(hidden=(creatorType != "person")).person-fields
          label(for="lastName") Last Name
          input.form-control(type="text" id="lastName" name="lastName" required)
        .form-group(hidden=(creatorType != "organization")).org-fields
          label(for="organizationName") Organization Name
          input.form-control(type="text" id="organizationName" name="organizationName" required)
        .form-group
          label(for="identifiers") Identifiers
          input.form-control(type="text" id="indentifiers" name="identifiers")
        .form-group
          label(for="affiliations") Affilations
          input.form-control(type="text" id="affiliations" name="affilations")
        .form-group
          label(for="role") Role
          select.form-control(id="role" name="role")
            option(value="") Select a role
      .modal-footer
        button.btn.btn-default(type="button" data-dismiss="modal") Close
        button.g-add-creator-btn.btn.btn-primary(type="button") Save

.g-validation-failed-message
