.modal-dialog
  .modal-content
    form#g-add-creator.modal-form(role="form")
      .modal-header
        button.close(type="button" data-dismiss="modal")
          span &times;
        h4.modal-title Add Creator
      .modal-body
        .form-check.form-check-inline
            input(type="radio" name="creatorType" value="person" checked)
            | Person
            input(type="radio" name="creatorType" value="organization")
            | Organization
        if person == "person"
          .form-group
            label(for="firstName") First Name
            input.form-control(type="text" id="firstName" name="firstName" required)
          .form-group
            label(for="lastName") Last Name
            input.form-control(type="text" id="lastName" name="lastName" required)
        if organization
          .form-group
            label(for="organizationName") Name
            input.form-control(type="text" id="organizationName" name="organizationName" required)
        .form-group
          label(for="identifiers") Indentifiers
          input.form-control(type="text" id="indentifiers" name="indentifiers")
        .form-group
          label(for="affiliations") Affilations
          input.form-control(type="text" id="affiliations" name="affilations")
        .form-group
          label(for="role") Role
          select.form-control(id="role" name="role")
            option(value="") Select a role
      .modal-footer
        button.btn.btn-default(type="button" data-dismiss="modal") Close
        button#g-add-creator-btn.btn.btn-primary(type="submit") Save

.g-validation-failed-message
